{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button class="hidden" type="button" hidden aria-hidden="true"><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item persist"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <button type="button" id="theme-toggle-button" aria-pressed="false" aria-label="Switch to dark theme">
              <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
        <ul class="hidden-links hidden" hidden></ul>
      </nav>
    </div>
  </div>
</div>
